<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.question.mapper.WtglCjlsMapper">

    <resultMap type="WtglCjls" id="WtglCjlsResult">
        <result property="LSID" column="LSID"/>
        <result property="ZS" column="ZS"/>
        <result property="CJWTID" column="CJWTID"/>
        <result property="WTJS" column="WTJS"/>
        <result property="SBXH" column="SBXH"/>
        <result property="JH" column="JH"/>
        <result property="CPXH" column="CPXH"/>
        <result property="GXH" column="GXH"/>
        <result property="GXMC" column="GXMC"/>
        <result property="BCRQ" column="BCRQ"/>
        <result property="TBR" column="TBR"/>
        <result property="BJZRKS" column="BJZRKS"/>
        <result property="BJZRR" column="BJZRR"/>
        <result property="WTMS" column="WTMS"/>
        <result property="TBJSSJ" column="TBJSSJ"/>
        <result property="TBDQST" column="TBDQST"/>
        <result property="JSR" column="JSR"/>
        <result property="JJFA" column="JJFA"/>
        <result property="WTZT" column="WTZT"/>
        <result property="SCDDH" column="SCDDH"/>
        <result property="PC" column="PC"/>
        <result property="SFMY" column="SFMY"/>
        <result property="CJSJ" column="CJSJ"/>
        <result property="TBRID" column="TBRID"/>
        <result property="BJRID" column="BJRID"/>
        <result property="JSRID" column="JSRID"/>
        <result property="CJBMKS" column="CJBMKS"/>
        <result property="WTMC" column="WTMC"/>
        <result property="WTLB" column="WTLB"/>
        <result property="WTXL" column="WTXL"/>
    </resultMap>

    <sql id="selectWtglCjlsVo">
        select LSID,
               ZS,
               CJWTID,
               WTJS,
               SBXH,
               JH,
               CPXH,
               GXH,
               GXMC,
               BCRQ,
               TBR,
               BJZRKS,
               BJZRR,
               WTMS,
               TBJSSJ,
               TBDQST,
               JSR,
               JJFA,
               WTZT,
               SCDDH,
               PC,
               SFMY,
               CJSJ,
               TBRID,
               BJRID,
               JSRID,
               CJBMKS,
               WTMC,
               WTLB,
               WTXL
        from WTGL_CJLS
    </sql>

    <select id="selectWtglCjlsList" parameterType="WtglCjlsDTO" resultMap="WtglCjlsResult">
        <include refid="selectWtglCjlsVo"/>
        <where>
            <if test="CJBMKS != null  and CJBMKS != ''">
                and CJBMKS = #{CJBMKS}
            </if>
            <if test="selectType != null  and selectType != '' and selectData != null and selectData != ''">and
                ${selectType} like '%' || #{selectData} || '%'
            </if>
        </where>
        order by CJSJ desc
    </select>

    <select id="selectWtglDownCjlsList" parameterType="WtglCjls" resultMap="WtglCjlsResult">
        <include refid="selectWtglCjlsVo"/>
        where CJBMKS = #{CJBMKS} and WTZT &lt;&gt; '取消' order by CJSJ desc
    </select>

    <select id="selectWtglCjlsByLSID" parameterType="String" resultMap="WtglCjlsResult">
        <include refid="selectWtglCjlsVo"/>
        where LSID = #{LSID}
    </select>
    <select id="selectywcjList" resultType="com.ruoyi.project.question.domain.vo.WtxxVo">
        select *
        from WTGL_YWCJ
        where CJBM = #{CJBMKS}
        order by CJSJ desc
    </select>
    <select id="selectWtglCjlsSpeechList" resultMap="WtglCjlsResult">
        select LSID,
               ZS,
               CJWTID,
               WTJS,
               SBXH,
               JH,
               CPXH,
               GXH,
               GXMC,
               BCRQ,
               TBR,
               BJZRKS,
               BJZRR,
               WTMS,
               TBJSSJ,
               TBDQST,
               JSR,
               JJFA,
               WTZT,
               SCDDH,
               PC,
               SFMY,
               CJSJ,
               TBRID,
               BJRID,
               JSRID,
               CJBMKS,
               WTMC,
               WTLB,
               WTXL
        from WTGL_CJLS
        where WTZT = '提交'
          and CJBMKS = #{deptName}
        order by CJSJ desc
    </select>
    <select id="getwtztNumber" resultType="com.ruoyi.project.question.domain.vo.NumberVO">
        select COUNT(*) as num, WTZT as str
        from WTGL_CJLS
        where WTZT &lt;&gt; '取消'
          and CJBMKS = #{deptName}
        group by WTZT
    </select>
    <select id="getcjksbmNumber" resultType="com.ruoyi.project.question.domain.vo.NumberVO">
        select COUNT(*) num, WTLB as str
        from WTGL_CJLS
        where WTZT &lt;&gt; '取消'
        group by WTLB
    </select>
    <select id="getsfgzIdsByIds" resultType="java.lang.String">
        select WTID from wtgl_wtgz
        <foreach open="where WTID in(" close=")" collection="list" separator="," item="id">
            #{id}
        </foreach>
    </select>
    <select id="listYwzd" resultType="com.ruoyi.project.question.domain.Ywzd">
        select * from WTGL_YWZD
        <where>
            <if test="selectData != null  and selectData != ''">
                ZJD like '%' || #{selectData} || '%' or CJD like '%' || #{selectData} || '%'
            </if>
        </where>
        order by ZJD,PX
    </select>
    <select id="listDacc" resultType="com.ruoyi.project.question.domain.WtglDacc">
        select *
        from WTGL_DACC
        <where>
            <if test="wtglDacc.selectData != null and wtglDacc.selectData != ''">
                WTMC like '%' || #{wtglDacc.selectData} || '%'
            </if>
        </where>
    </select>
    <select id="getYwzdByXH" resultType="com.ruoyi.project.question.domain.Ywzd">
        select *
        from WTGL_YWZD
        where XH = #{xh}
    </select>
    <select id="getDacc" resultType="com.ruoyi.project.question.domain.WtglDacc">
        select *
        from WTGL_DACC
        where DAXXID = #{daxxID}
    </select>

    <select id="getUpButtons" resultType="com.ruoyi.project.question.domain.UpButton">
        select *
        from WTGL_UPBUTTON
        order by PX
    </select>
    <select id="getUpButton" resultType="com.ruoyi.project.question.domain.UpButton">
        select *
        from WTGL_UPBUTTON
        where XH = #{xh}
    </select>
    <select id="listDaccToZN" resultType="com.ruoyi.project.question.domain.WtglDacc">
        select *
        from WTGL_DACC
        <where>
            <if test="wtglDacc.WTMC != null  and wtglDacc.WTMC != ''">and WTMC like '%' || #{wtglDacc.WTMC} || '%'
            </if>
            <if test="wtglDacc.WTLB != null  and wtglDacc.WTLB != ''">and WTLB = #{wtglDacc.WTLB}</if>
            <if test="wtglDacc.WTXL != null  and wtglDacc.WTXL != ''">and WTXL = #{wtglDacc.WTXL}</if>
            <if test="wtglDacc.WTMS != null  and wtglDacc.WTMS != ''">and WTMS like '%' || #{wtglDacc.WTMS} || '%'
            </if>
            <if test="wtglDacc.GXH != null  and wtglDacc.GXH != ''">and GXH = #{wtglDacc.GXH}</if>
            <if test="wtglDacc.CPXH != null  and wtglDacc.CPXH != ''">and CPXH = #{wtglDacc.CPXH}</if>
            <if test="wtglDacc.JH != null  and wtglDacc.JH != ''">and JH = #{wtglDacc.JH}</if>
            <if test="wtglDacc.DEPTID != null  and wtglDacc.DEPTID != ''">and DEPTID = #{wtglDacc.DEPTID}</if>
            <if test="wtglDacc.KEYWORDS != null  and wtglDacc.KEYWORDS != ''">
            and (WTMC like '%' || #{wtglDacc.KEYWORDS} || '%'
            or WTMS like '%' || #{wtglDacc.KEYWORDS} || '%'
            or DAXX like '%' || #{wtglDacc.KEYWORDS} || '%')
        </if>
        </where>
        order by RD desc
    </select>
    <resultMap type="SysUser" id="SysUserResult">
        <id property="userId" column="user_id"/>
        <result property="deptId" column="dept_id"/>
        <result property="userName" column="user_name"/>
        <result property="nickName" column="nick_name"/>
        <result property="email" column="email"/>
        <result property="phonenumber" column="phonenumber"/>
        <result property="sex" column="sex"/>
        <result property="avatar" column="avatar"/>
        <result property="password" column="password"/>
        <result property="status" column="status"/>
        <result property="delFlag" column="del_flag"/>
        <result property="loginIp" column="login_ip"/>
        <result property="loginDate" column="login_date"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
        <association property="dept" column="dept_id" javaType="SysDept" resultMap="deptResult"/>
        <collection property="roles" javaType="java.util.List" resultMap="RoleResult"/>
    </resultMap>
    <resultMap id="deptResult" type="SysDept">
        <id property="deptId" column="dept_id"/>
        <result property="parentId" column="parent_id"/>
        <result property="deptName" column="dept_name"/>
        <result property="ancestors" column="ancestors"/>
        <result property="orderNum" column="order_num"/>
        <result property="leader" column="leader"/>
        <result property="status" column="dept_status"/>
    </resultMap>

    <resultMap id="RoleResult" type="SysRole">
        <id property="roleId" column="role_id"/>
        <result property="roleName" column="role_name"/>
        <result property="roleKey" column="role_key"/>
        <result property="roleSort" column="role_sort"/>
        <result property="dataScope" column="data_scope"/>
        <result property="status" column="role_status"/>
    </resultMap>
    <select id="selectUserByPostAndDept" resultMap="SysUserResult">
        select u.user_id,
               u.dept_id,
               u.user_name,
               u.nick_name,
               u.email,
               u.avatar,
               u.phonenumber,
               u.password,
               u.sex,
               u.status,
               u.del_flag,
               u.login_ip,
               u.login_date,
               u.create_by,
               u.create_time,
               u.remark,
               d.dept_id,
               d.parent_id,
               d.ancestors,
               d.dept_name,
               d.order_num,
               d.leader,
               d.status as dept_status,
               r.role_id,
               r.role_name,
               r.role_key,
               r.role_sort,
               r.data_scope,
               r.status as role_status
        from SYS_USER u
                 left join SYS_DEPT d on u.DEPT_ID = d.DEPT_ID
                 left join SYS_USER_ROLE ur on u.USER_ID = ur.USER_ID
                 left join SYS_ROLE r on r.ROLE_ID = ur.ROLE_ID
                 left join SYS_USER_POST up on up.USER_ID = u.USER_ID
                 left join SYS_POST p on p.POST_ID = up.POST_ID
        where p.POST_NAME = #{postName}
          and u.DEPT_ID = #{deptId}
    </select>
    <select id="selectUserByDeptId" resultMap="SysUserResult">
        select u.user_id,
               u.dept_id,
               u.user_name,
               u.nick_name,
               u.email,
               u.avatar,
               u.phonenumber,
               u.password,
               u.sex,
               u.status,
               u.del_flag,
               u.login_ip,
               u.login_date,
               u.create_by,
               u.create_time,
               u.remark,
               d.dept_id,
               d.parent_id,
               d.ancestors,
               d.dept_name,
               d.order_num,
               d.leader,
               d.status as dept_status,
               r.role_id,
               r.role_name,
               r.role_key,
               r.role_sort,
               r.data_scope,
               r.status as role_status
        from sys_user u
                 left join sys_dept d on u.dept_id = d.dept_id
                 left join sys_user_role ur on u.user_id = ur.user_id
                 left join sys_role r on r.role_id = ur.role_id
        where u.dept_id = #{deptId}
    </select>
    <select id="selectBjrByWtlbAndDeptId" resultType="com.ruoyi.project.question.domain.WtlbRy">
        select BJRXM, BJRID
        from WTGL_WTLB_RY
        where WTLB = #{wtglCjls.WTLB}
          and WTXL = #{wtglCjls.WTXL}
          and DEPTID = #{deptId}
    </select>
    <resultMap id="wtlbXlList" type="com.ruoyi.project.question.domain.vo.WtlbXlVO">
        <result property="WTLB" column="BUTNAME"/>
        <collection property="WTXL" ofType="String">
            <constructor>
                <arg column="CJD"/>
            </constructor>
        </collection>
    </resultMap>
    <select id="getWtlbXlList" resultMap="wtlbXlList">
        select BUTNAME, CJD
        from WTGL_UPBUTTON BUT
                 left join WTGL_YWZD WY on BUT.BUTNAME = WY.ZJD
        order by PX
    </select>
    <insert id="insertWtglCjls" parameterType="WtglCjls">
        insert into WTGL_CJLS
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="LSID != null">LSID,</if>
            <if test="ZS != null">ZS,</if>
            <if test="CJWTID != null">CJWTID,</if>
            <if test="WTJS != null">WTJS,</if>
            <if test="SBXH != null">SBXH,</if>
            <if test="JH != null">JH,</if>
            <if test="CPXH != null">CPXH,</if>
            <if test="GXH != null">GXH,</if>
            <if test="GXMC != null">GXMC,</if>
            <if test="BCRQ != null">BCRQ,</if>
            <if test="TBR != null">TBR,</if>
            <if test="BJZRKS != null">BJZRKS,</if>
            <if test="BJZRR != null">BJZRR,</if>
            <if test="WTMS != null">WTMS,</if>
            <if test="TBJSSJ != null">TBJSSJ,</if>
            <if test="TBDQST != null">TBDQST,</if>
            <if test="JSR != null">JSR,</if>
            <if test="JJFA != null">JJFA,</if>
            <if test="WTZT != null">WTZT,</if>
            <if test="SCDDH != null">SCDDH,</if>
            <if test="PC != null">PC,</if>
            <if test="SFMY != null">SFMY,</if>
            <if test="CJSJ != null">CJSJ,</if>
            <if test="TBRID != null">TBRID,</if>
            <if test="BJRID != null">BJRID,</if>
            <if test="JSRID != null">JSRID,</if>
            <if test="CJBMKS != null">CJBMKS,</if>
            <if test="WTMC != null">WTMC,</if>
            <if test="WTLB != null">WTLB,</if>
            <if test="WTXL != null">WTXL,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="LSID != null">#{LSID},</if>
            <if test="ZS != null">#{ZS},</if>
            <if test="CJWTID != null">#{CJWTID},</if>
            <if test="WTJS != null">#{WTJS},</if>
            <if test="SBXH != null">#{SBXH},</if>
            <if test="JH != null">#{JH},</if>
            <if test="CPXH != null">#{CPXH},</if>
            <if test="GXH != null">#{GXH},</if>
            <if test="GXMC != null">#{GXMC},</if>
            <if test="BCRQ != null">#{BCRQ},</if>
            <if test="TBR != null">#{TBR},</if>
            <if test="BJZRKS != null">#{BJZRKS},</if>
            <if test="BJZRR != null">#{BJZRR},</if>
            <if test="WTMS != null">#{WTMS},</if>
            <if test="TBJSSJ != null">#{TBJSSJ},</if>
            <if test="TBDQST != null">#{TBDQST},</if>
            <if test="JSR != null">#{JSR},</if>
            <if test="JJFA != null">#{JJFA},</if>
            <if test="WTZT != null">#{WTZT},</if>
            <if test="SCDDH != null">#{SCDDH},</if>
            <if test="PC != null">#{PC},</if>
            <if test="SFMY != null">#{SFMY},</if>
            <if test="CJSJ != null">#{CJSJ},</if>
            <if test="TBRID != null">#{TBRID},</if>
            <if test="BJRID != null">#{BJRID},</if>
            <if test="JSRID != null">#{JSRID},</if>
            <if test="CJBMKS != null">#{CJBMKS},</if>
            <if test="WTMC != null">#{WTMC},</if>
            <if test="WTLB != null">#{WTLB},</if>
            <if test="WTXL != null">#{WTXL},</if>
        </trim>
    </insert>
    <insert id="addYwzd">
        insert into WTGL_YWZD
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="XH != null">XH,</if>
            <if test="ZJD != null">ZJD,</if>
            <if test="CJD != null">CJD,</if>
            <if test="BZ != null">BZ,</if>
            <if test="PX != null">PX,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="XH != null">#{XH},</if>
            <if test="ZJD != null">#{ZJD},</if>
            <if test="CJD != null">#{CJD},</if>
            <if test="BZ != null">#{BZ},</if>
            <if test="PX != null">#{PX},</if>
        </trim>
    </insert>
    <insert id="addUpButton">
        insert into WTGL_UPBUTTON
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="XH != null">XH,</if>
            <if test="PX != null">PX,</if>
            <if test="BUTNAME != null">BUTNAME,</if>
            <if test="IMGNAME != null">IMGNAME,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="XH != null">#{XH},</if>
            <if test="PX != null">#{PX},</if>
            <if test="BUTNAME != null">#{BUTNAME},</if>
            <if test="IMGNAME != null">#{IMGNAME},</if>
        </trim>
    </insert>

    <update id="updateWtglCjls" parameterType="WtglCjls">
        update WTGL_CJLS
        <trim prefix="SET" suffixOverrides=",">
            <if test="ZS != null">ZS = #{ZS},</if>
            <if test="CJWTID != null">CJWTID = #{CJWTID},</if>
            <if test="WTJS != null">WTJS = #{WTJS},</if>
            <if test="SBXH != null">SBXH = #{SBXH},</if>
            <if test="JH != null">JH = #{JH},</if>
            <if test="CPXH != null">CPXH = #{CPXH},</if>
            <if test="GXH != null">GXH = #{GXH},</if>
            <if test="GXMC != null">GXMC = #{GXMC},</if>
            <if test="BCRQ != null">BCRQ = #{BCRQ},</if>
            <if test="TBR != null">TBR = #{TBR},</if>
            <if test="BJZRKS != null">BJZRKS = #{BJZRKS},</if>
            <if test="BJZRR != null">BJZRR = #{BJZRR},</if>
            <if test="WTMS != null">WTMS = #{WTMS},</if>
            <if test="TBJSSJ != null">TBJSSJ = #{TBJSSJ},</if>
            <if test="TBDQST != null">TBDQST = #{TBDQST},</if>
            <if test="JSR != null">JSR = #{JSR},</if>
            <if test="JJFA != null">JJFA = #{JJFA},</if>
            <if test="WTZT != null">WTZT = #{WTZT},</if>
            <if test="SCDDH != null">SCDDH = #{SCDDH},</if>
            <if test="PC != null">PC = #{PC},</if>
            <if test="SFMY != null">SFMY = #{SFMY},</if>
            <if test="CJSJ != null">CJSJ = #{CJSJ},</if>
            <if test="TBRID != null">TBRID = #{TBRID},</if>
            <if test="BJRID != null">BJRID = #{BJRID},</if>
            <if test="JSRID != null">JSRID = #{JSRID},</if>
            <if test="CJBMKS != null">CJBMKS = #{CJBMKS},</if>
            <if test="WTMC != null">WTMC = #{WTMC},</if>
            <if test="WTLB != null">WTLB = #{WTLB},</if>
            <if test="WTXL != null">WTXL = #{WTXL},</if>
        </trim>
        where LSID = #{LSID}
    </update>
    <update id="changewtzt">
        update WTGL_CJLS set WTZT = #{wtzt} where LSID in (
        <foreach collection="ids" item="id" separator=",">
            #{id}
        </foreach>
        )
    </update>
    <update id="updatejjfa">
        update WTGL_CJLS
        set JJFA = #{str},
            WTZT = '申请已完成'
        where LSID = #{id}
    </update>
    <update id="wtjsYesIt">
        <foreach collection="list" separator=";" item="item">
            update WTGL_CJLS set WTZT = '接收', JSR = #{item.BJZRR}, JSRID = #{item.BJRID}, TBJSSJ = #{item.TBJSSJ} where
            LSID = #{item.LSID}
        </foreach>
    </update>
    <update id="wtjsNoIt">
        <foreach collection="list" item="item" separator=";">
            update WTGL_CJLS set WTZT = '接收', JSR = #{item.JSR}, JSRID = #{item.JSRID}, TBJSSJ = #{item.TBJSSJ} where
            LSID = #{item.LSID}
        </foreach>
    </update>
    <update id="updateDacc">
        update WTGL_DACC
        <trim prefix="SET" suffixOverrides=",">
            <if test="WTMC != null">WTMC = #{WTMC},</if>
            <if test="ZRR != null">ZRR = #{ZRR},</if>
            <if test="GBSJ != null">GBSJ = #{GBSJ},</if>
            <if test="DAXX != null">DAXX = #{DAXX},</if>
            <if test="CJR != null">CJR = #{CJR},</if>
            <if test="WTLB != null">WTLB = #{WTLB},</if>
            <if test="WTXL != null">WTXL = #{WTXL},</if>
            <if test="RD != null">RD = #{RD},</if>
            <if test="WTMS != null">WTMS = #{WTMS},</if>
            <if test="KEYWORDS != null">KEYWORDS = #{KEYWORDS},</if>
        </trim>
        where DAXXID = #{DAXXID}
    </update>
    <update id="updateYwzd">
        update WTGL_YWZD
        <trim prefix="SET" suffixOverrides=",">
            <if test="ZJD != null">ZJD = #{ZJD},</if>
            <if test="CJD != null">CJD = #{CJD},</if>
            <if test="BZ != null">BZ = #{BZ},</if>
            <if test="PX != null">PX = #{PX},</if>
        </trim>
        where XH = #{XH}
    </update>

    <update id="updateDaccToRd">
        update WTGL_DACC
        set RD=RD + 1
        where DAXXID = #{daxxid}
    </update>
    <update id="updateUpButton">
        update WTGL_UPBUTTON
        set PX      = #{PX},
            BUTNAME = #{BUTNAME},
            IMGNAME = #{IMGNAME}
        where XH = #{XH}
    </update>

    <delete id="deleteWtglCjlsByLSID" parameterType="String">
        delete
        from WTGL_CJLS
        where LSID = #{LSID}
    </delete>

    <delete id="deleteWtglCjlsByLSIDs" parameterType="String">
        delete from WTGL_CJLS where LSID in
        <foreach item="LSID" collection="array" open="(" separator="," close=")">
            #{LSID}
        </foreach>
    </delete>
    <delete id="delDacc">
        delete from WTGL_DACC where DAXXID in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <delete id="delYwzd">
        delete from WTGL_YWZD where XH in
        <foreach item="XH" collection="array" open="(" separator="," close=")">
            #{XH}
        </foreach>
    </delete>
    <delete id="delangl">
        delete from wtgl_upbutton where XH in
        <foreach item="XH" collection="array" open="(" separator="," close=")">
            #{XH}
        </foreach>
    </delete>
</mapper>